<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  <!-- Facebook Plugins -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=341661026444200&autoLogAppEvents=1"></script>

  <a href="#main" class="skip-link p-screen-reader-text">Skip to content</a>
  {{ partial "svgpack-sprite.html" . }}
  <header class="l-header">
    {{ if .IsPage }}
    <p class="c-title p-title">
      <a href="{{ .Site.BaseURL }}" class="p-title__link">
        <img src="/images/logo.png" width="200px" />
      </a>
    </p>
    {{ else }}
    <h1 class="c-title p-title">
      <a href="{{ .Site.BaseURL }}" class="p-title__link">
        <img src="/images/logo.png" width="200px" />
      </a>
    </h1>
    {{ end }}
    {{ with .Site.Params.subtitle }}
    <p class="p-subtitle">
      {{ . }}
    </p>
    {{ end }}
  </header>
  <main id="main" class="l-main">
